.body{
    margin: 0 auto;
    padding: 0;
}
.admin{
    width: 100%;
    height: 600px;
    background-color: #f3f3f3;
}
.admin .admin-top{
    width: 100%;
    height: 50px;
    font-size: 30px;
    text-align: center;
    color: #007bff;
}
.admin .admin-left{
    width: 200px;
    /*height: 100%;*/
    float: left;
}
.admin .admin-left button{
    margin-left: 25px;
    width: 200px;
    height: 50px;
    cursor: pointer;
}
.admin .admin-right{
    width: 80%;
    height: 88%;
    background-color: #ffffff;
    float: right;
}
.admin-right-body{
    margin: 0 auto;
    height: 520px;
    overflow: auto;
    float: left;
}
.body-table{
    width: 980px;
    /*height: 200px;*/
    margin: 0 auto;
    border: 1px solid #000000;
}
.body-table tr{
    height: 50px;
}
.body-table td{
    text-align: center;
    overflow: auto;
    border-bottom: 1px solid #000000;
}
table{
    width: 980px;
    text-align: center;
}
.body-float{
    width: 1150px;
    height: 540px;
    margin-left: 50px;
    margin-top: 40px;
    position: absolute;
    background-color: #ffffff;
    border: 1px solid #000000;
    overflow: auto;
}
.body-float table{
    width: 1150px;
    table-layout: fixed;
}
.body-float table td{
    overflow: auto;
    border-bottom: 1px solid #000000;
}
.body-right-table4 table{
    table-layout: fixed;
}
.body-right-table4 table td{
    overflow: auto;
    border-bottom: 1px solid #000000;
}
