{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/main_css.css' %}">
    <title>预防电信网络诈骗在线考试</title>
</head>
<style>

</style>
<body>
{#导航栏#}
<div class="main_nav">
    <div class="nav-left float-left">
        <h3>预防电信网络诈骗在线考试系统</h3>
    </div>
    <div class="nav-right float-right">
        <img src="{% static 'images/用户.jpg' %}" alt="">
        <h3>{{ user }}</h3>
        <div class="nav-right-hover">
            <ul class="hover-ul">
                <li><a href="#" style="color: #ffffff">账号管理</a></li>
                <li><a href="./login/login_out" style="color: #ffffff">退出</a></li>
            </ul>
        </div>
    </div>
</div>

{#body中间部分#}
<div class="main-body" style="height: 100%">
{#    左边#}
    <div class="main-body-left">
{#        左上部分#}
        <div class="body-left-top" style="height: 187px;position: relative;overflow: hidden;">
            <img src="{% static 'images/用户.jpg' %}" alt="">
            <p>{{ user }}</p>
        </div>
{#        左下部分#}
        <div class="body-left-bottom">
            <a id="a1" style="background-color: #007bff" class="text-center" onclick="a_click('a1')"><h5>考试</h5></a>
            <a id="a2" class="text-center" onclick="a_click('a2')"><h5>论坛</h5></a>
            <a id="a3" class="text-center" onclick="a_click('a3')"><h5>邮箱</h5></a>
        </div>
    </div>

{#    右边#}
    <div class="main-body-right">
        <iframe src="iframe1" style="width: 100%;height: 500px;background-color: #ffffff;border: none"></iframe>
    </div>
</div>

</body>

<script>
    function a_click(a_id){
        const as = ["a1", "a2", "a3"]
        for (let i = 0; i < as.length; i++) {
            if (as[i] === a_id){
                console.log('yes')
                const style = document.getElementById(as[i])
                style.style = 'background-color: #007bff;'
            }
            else {
                console.log('no')
                const style = document.getElementById(as[i])
                style.style = 'background-color: none;'
            }
        }
    }
</script>

<script src="{% static 'js/bootstrap/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/bootstrap/jquery.min.js' %}"></script>
</html>